<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<title>Admin - Add Question</title>
</head>
<body>

<h1>Add Questions</h1>
<p>
<a href="/admin">Back to Admin page</a>
</p>

<form action="#" th:action="@{/addQuestion}" th:object="${question}" method="post">
<table>
<tr>
	<td>Text:</td>
	<td colspan="2"><textarea cols=80 rows=15 name='text'></textarea></td>
</tr>
<tr>
	<td>Template:</td>
	<td colspan="2"><textarea cols=80 rows=15 name='template'></textarea></td>
</tr>
<tr>
	<td>Test Cases:</td>
	<td>Arguments: <textarea cols=10 rows=5 name='arguments'></textarea></td>
	<td>Output: <textarea cols=10 rows=5 name='output'></textarea></td>
</tr>
<tr>
	<td colspan="2"></td>
	<td><input type="submit"/></td>
</tr>
</table>
</form>
Each test case has a list of arguments (which is space delimited, such as 1 2) and output (such as 3). The number of lines in the Arguments
box must be the same as the number of lines in Output.

</body>
</html>